img.thumbnail {
  max-height: 200px;
  max-width: 200px;
  overflow: hidden;
}

/* .fullimage {
	max-block-size: 500px;
} */

div.images {
  background-color: #eaeaea;
  padding: 25px;
}

div.tumbimage {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

div.imgref {
	padding-left: 10px;
}

div.imgtext {

}

.img-title {
	font-weight: bold;
}

.img-title {
	font-weight: lighter;
}
.comment{
	width: 500px;
	background-color: #fff;
}
.comment-auth{
	display: block;
	font-weight: bold;
	padding-right: 5px;
}

.album-button{
	padding-bottom: 10px;
}

.comment-text{

	overflow-wrap: break-word;
	font-weight: lighter;
}
