img.thumbnail {
  height: 143px;
  width: 206px;
  overflow: hidden;
  box-shadow: 0 0 0 1px silver, 0px 0px 20px 0px #989898;
}

.fullimage {
	margin-top: 10px;
}

div.images {
  background-color: #eaeaea;
  padding: 25px;
}

div.tumbimage {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
	background-color: #d5d5d5;
  /*! display: flex; */
}

div.imgref {
	padding: 0px;
}

div.thumbimgtext {

/* 	height: 155px; */
	padding-left: 20px;
	padding-right: 20px;
}


.img-title {
	font-weight: bold;
}

.img-descr {
	font-weight: lighter;
	font-style: italic;
}

.comment{
	width: 500px;
	background-color: #fff;
}

.comment-auth{
	display: block;
	font-weight: bold;

}

.album-button{
	padding-bottom: 10px;
}

.comment-text{
	overflow-wrap: break-word;
	font-weight: lighter;
}

img.fullimagesrc {
	box-shadow: 0 0 0 1px silver, 0px 0px 20px 0px #989898;
}

div.comments {
	width: 70em;
	padding: 10px;
	box-shadow: 0 0 0 1px silver, 0 0 5px 0 #989898;
	background-color: #dbe2ea;
}

div.comment {
	box-shadow: 0 0 0 1px silver, 0 0 5px 0 #989898;
	background-color: #dbe2ea;
	padding: 2px;
	margin: 10px;
	width: auto;

}

form.new-comment {
	padding-bottom: 2px;
	padding-left: 10px;
	box-shadow: 0 0 0 1px silver, 0 0 5px 0 #989898;
	background-color: #eaeaea;
	font-size: 20px;
	width: auto;
}

#commentbox {
	 margin-top: 10px;
	 margin-left: auto;
   margin-right: auto;
	 height:80px;
	 width: 600px;
	 font-size: 15px;
}
