body {
  font-family: sans-serif;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

thead th {
  width: 25%;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}

tbody td:nth-child(odd) {
  background-color: #fff;
}

tbody td:nth-child(even) {
  background-color: #eee;
}

img.thumbnail {
  max-height: 200px;
  max-width: 200px;
  overflow: hidden;
}

.fullimage {
	max-block-size: 500px;
}

 div.images {
  background-color: #eaeaea;
  padding: 25px;
}

div.tumbimage {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

div.imgref {
	padding-left: 10px;
}

div.imgtext {

}

.img-title {
	font-weight: bold;
}

.img-title {
	font-weight: lighter;
}
.comment{
	width: 500px;
	background-color: #fff;
}
.comment-auth{
	display: block;
	font-weight: bold;
	padding-right: 5px;
}

.album-button{
	padding-bottom: 10px;
}

.comment-text{

	overflow-wrap: break-word;
	font-weight: lighter;
}
