body {
  font-family: sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
  color: red;

}

h2 {
  font-size: 30px;
  font-weight: normal;
  margin-top: 5px;
  color: green;
} 

body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

form {
	margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}