<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" media="all" href="css/albumstyle.css" />
<meta charset="ISO-8859-1">
<title>album</title>
<!-- <link rel="stylesheet" type="text/css" media="all" /> -->
</head>

<head>

<body>
  <th:block xmlns:th="http://www.thymeleaf.org">
    <div class="homebutton">
      <form action="/GoToHomePage" method="post">
        <input type="submit" value="back to homepage">
      </form>
    </div>
    <div class="images">
      <div th:each="image,iter : ${images}">
        <div class="image">
          <div th:if="${param.img != null}">
            <div th:if="${param.img == image.getID}">
              <img class="fullimage" th:src="@{${image.getPath}}" th:alt="${image.getTitle}">
              <div class="imgText">
                <p th:text="${image.getTitle} + ' ' + ${image.getDate}">titolo + data creazione immagine</p>
                <p th:text="${image.getDescription}">descrizione immagine</p>
              </div>
              <form th:action="@{album(id=${param.id}, page=${param.page})}" method="post">
                <input type="submit" value="back to album page">
              </form>
              <div class="comments">
                <p>Comments:</p>
                <div th:each="comment,iter : ${comments}">
                  <span th:text=${authors.get(iter.index)}></span>
                  <div class="comment" th:text=${comment.getText}>
                    nice picture
                  </div>
                </div>
                <form class="new-comment" th:action="@{CreateComment(album-id=${param.id}, image-id=${image.getID}, page=${param.page})}" method="post">
                  <p>
          					new comment <input type="text" placeholder="write your comment here" name="comment" required />
          				</p>
                  <input type="submit" value="send comment"/>
                </form>
              </div>
            </div>
          </div>
          <div th:unless="${param.img != null}">
            <a th:href="@{/album(id=${param.id}, page=${param.page}, img = ${image.getID})}">
              <img class="thumbnail" th:src="@{${image.getPath}}" th:alt="${image.getTitle}">
            </a>
            <div class="imgtext">
              <p th:text="${image.getTitle} + ' ' + ${image.getDate}">titolo + data creazione immagine</p>
              <p th:text="${image.getDescription}">descrizione immagine</p>
            </div>
          </div>
        </div>
      </div>
      <div th:unless="${param.img != null}">
        <table class="form">
          <tr>
            <td>
              <div th:if="${param.page > 1}">
                <form th:action="@{album(id=${param.id}, page=${prevPage})}" method="post">
                  <input type="submit" value="previous images">
                </form>
              </div>
            </td>
            <td>

              <div th:if="${param.page < pages}">
                <form th:action="@{album(id=${param.id}, page=${nextPage})}" method="post">
                  <input type="submit" value="next images">
                </form>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </th:block>
</body>

</html>
