<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" media="all" href="css/albumstyle.css" />
<meta charset="ISO-8859-1">
<title>album</title>
<!-- <link rel="stylesheet" type="text/css" media="all" /> -->
</head>

<head>

<body>
  <th:block xmlns:th="http://www.thymeleaf.org">
    <div class="homebutton">
      <form th:action="@{/GoToHomePage}" method="post">
        <input type="submit" value="back to homepage">
      </form>
    </div>
    <div>
      <div class="fullimage" th:if="${param.img != null}">
          <img class="fullimagesrc" th:src="@{${bigimage.getPath}}" th:alt="${bigimage.getTitle}">
          <div class="fullimgtext">
            <p class="img-title" th:text="${bigimage.getTitle} + ' ' + ${bigimage.getDate}">titolo + data creazione immagine</p>
            <p class="img-descr" th:text="${bigimage.getDescription}">image description</p>
          </div>
          <form class="album-button" th:action="@{album(id=${param.id}, page=${param.page})}" method="post">
            <input type="submit" value="back to album page">
          </form>
          <div class="comments">
            <span>Comments:</span>
            <div class="comment" th:each="element: ${comments}">
              <span class="comment-auth" th:text="${element.value} + ':'">comment owner</span>
              <span class="comment-text" th:text=${element.key}>
                nice picture
              </span>
            </div>
            <form class="new-comment" th:action="@{CreateComment(album-id=${param.id}, image-id=${bigimage.getID}, page=${param.page})}" method="post">
              <p>
                new comment <input type="text" placeholder="write your comment here" name="comment" required />
              </p>
              <input type="submit" value="send comment" id="commentbox"/>
            </form>
          </div>
      </div>
      <div class="images" th:unless="${param.img != null}">
        <div class ="tumbimage" th:each="image,iter : ${images}">
          <div class="imgref">
            <a th:href="@{/album(id=${param.id}, page=${param.page}, img = ${image.getID})}">
              <img class="thumbnail" th:src="@{${image.getPath}}" th:alt="${image.getTitle}">
            </a>
          </div>
          <div class="thumbimgtext">
            <p class="img-title" th:text="${image.getTitle} + ' ' + ${image.getDate}">titolo + data creazione immagine</p>
            <p class="img-descr" th:text="${image.getDescription}">descrizione immagine</p>
          </div>
        </div>
      </div>
      <div th:unless="${param.img != null}">
        <table class="form">
          <tr>
            <td>
              <div th:if="${param.page > 1}">
                <form th:action="@{album(id=${param.id}, page=${prevPage})}" method="post">
                  <input type="submit" value="previous images">
                </form>
              </div>
            </td>
            <td>
              <div th:if="${param.page < pages}">
                <form th:action="@{album(id=${param.id}, page=${nextPage})}" method="post">
                  <input type="submit" value="next images">
                </form>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </th:block>
</body>

</html>
