<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title th:text>album</title>
  <!-- <link rel="stylesheet" type="text/css" media="all" /> -->
</head>

<body>
  <th:block xmlns:th="http://www.thymeleaf.org">
    <table border="1">
      <tbody>
        <tr>
          <th>images</th>
        </tr>
        <tr th:each="image,iter : ${images}">
            <td>
              <img style="max-height:200px; max-width:200px; overflow: hidden" th:src="@{${image.getPath}}" th:alt="${image.getTitle}">
            </td>
        </tr>
      </tbody>
    </table>
    <span th:if="${param.page < pages}">
      <form th:action="@{album(id=${param.id}, page=${nextPage})}" method="post">
        <input type="submit" value="next images">
      </form>
    </span>
    <span th:if="${param.page > 1}">
      <form th:action="@{album(id=${param.id}, page=${prevPage})}" method="post">
        <input type="submit" value="previous images">
      </form>
    </span>
  </th:block>
</body>

</html>
